@model AddRequestViewModel

@{
    ViewBag.Title = "Add Movie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.RoomsCount" class="form-label">Rooms Count</label>
                <input asp-for="@Model.RoomsCount" class="form-control" aria-required="true" />
                <span asp-validation-for="RoomsCount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Budget" class="form-label">Budget</label>
                <input asp-for="@Model.Budget" class="form-control" aria-required="true" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RequiredMonth" class="form-label">Required Month</label>
                <input asp-for="@Model.RequiredMonth" class="form-control" aria-required="true" />
                <span asp-validation-for="RequiredMonth" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TotalArea" class="form-label">Total Area</label>
                <input asp-for="@Model.TotalArea" class="form-control" value="" />
                <span asp-validation-for="TotalArea" class="text-danger"></span>
            </div>
            @*<div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label">Genre</label>
                <select asp-for="@Model.GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}