@model List<RequestViewModel>

@{
    ViewBag.Title = "My Requests";

}

<h1 class="text-center">@ViewBag.Title</h1>
<br>
<div class="">

    @{
        var modelGroups = Model
                .Select((x, i) => new { Index = i, Value = x })
                .GroupBy(x => x.Index / 100)
                .Select(x => x.Select(v => v.Value).ToList())
                .ToList();
    }

    @foreach (var modelGroup in modelGroups)
    {
        <div class="row">
            @foreach (var model in modelGroup)
            {
                <div class="card mb-3 col-md-4">
                    <div class="card-body text-center">
                        <p>Address: <b>@(model.ClientAddress)</b></p>
                        <p>
                            Budget:
                            <b>@String.Format("{0:f2}", model.Budget) BGN</b>
                        </p>
                        <p>Rooms Count: <b>@(model.RoomsCount)</b></p>
                        <p>Area: <b>@(model.Area)</b></p>
                        <p>Free from date: <b>@(model.RequiredDate)</b></p>
                        @if (this.User.IsInRole(RoleConstants.Client))
                        {
                            <p>Constructor: <b>@(model.ConstructorEmail)</b></p>
                        }
                        else if (this.User.IsInRole(RoleConstants.Constructor))
                        {
                            <p>Constructor: <b>@(model.ClientEmail)</b></p>
                        }

                        <p>Room Categories:<b>@string.Join(", ", @model.RoomsTypes.Select(r => r.Name).ToList())</b> </p>
                        <br />
                        @* <a asp-controller="Request" asp-action="Details" asp-route-id="@Model.Id"
                            class="btn btn-success">Details</a>*@
                        @if (model.Status == "Waiting")
                        {
                            if (this.User.IsInRole(RoleConstants.Client))
                            {
                                <a asp-controller="Request" asp-action="Edit" asp-route-id="@(model.Id)"
                   class="btn btn-purple">Edit</a>
                                <a asp-controller="Request" asp-action="Delete" asp-route-id="@(model.Id)"
                   class="btn btn-danger">Delete</a>
                            }
                            else if (this.User.IsInRole(RoleConstants.Constructor))
                            {
                                <a asp-controller="Request" asp-action="Confirm" asp-route-id="@(model.Id)"
                   class="btn btn-success">Confirm</a>
                                <a asp-controller="Request" asp-action="Reject" asp-route-id="@(model.Id)"
                   class="btn btn-danger">Reject</a>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    }
</div>